/* custom css goes here */
.body {
    height: 100%;
    color: #000000;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin: 0 auto;
}


.img-logo {
    width: 128px;
    height: 128px;
    margin-left: 40px;
}

.text-logo {
    font-size: 70px;
    margin: 0 20px;
    display: inline;

}

footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #646464;
    position: relative;
}

hr {
    width: 60%;
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    
}

.title {
text-align: center;
margin: 20px auto;
}

.content {
    font-size: 16px;
    width: 60%;
    height: 100%;
    text-align: center;
}