/* custom css goes here */
.img-logo {
    width: 128px;
    height: 128px;
    margin-left: 40px;
    float: left;
}

.img-photo {
    width: 400px;
    height: 400px;
    padding: 20px;
    float: left;
}

p.text-logo {
    width: 100%;
    font-size: 70px;
    margin: 0 20px;
    text-align: left;
    display: block;
}

footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #646464;
    position: relative;
}

hr {
    width: 60%;
    border: 0;
    height: 2px;
    background: #333;
    margin: 30px auto 10px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);

}

div.title {
    text-align: center;
    margin: 50px auto;
}

div.container {
    width: 60%;
    height: 100%;
    margin: auto;
}

p {
    width: 60%;
    height: 100%;
    font-size: 18px;
    text-align: left;
    margin: 10px auto 10px;
}

p.intro {
    text-align: center;
}

p.photo {
    float: right;
    padding: 20px;
    margin: 0;
}
button.about_btn {
    width: 300px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 16px;
    justify-content: center;
    display: block;
    padding: 20px;
}