/* custom css goes here */
.img-logo {
    width: 128px;
    height: 128px;
    margin-left: 40px;
}

.text-logo {
    font-size: 70px;
    margin: 0 20px;
    display: inline;

}

footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #646464;
    position: relative;
}