/<!--
    File Name: about.ejs
    Student's Name: Kai-Pang Hung
    Student ID: 301207607
    Date: June-05-2022
-->
<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div>
        <img src="./Assets/images/kai_photo.png" class="img-photo">
        <p class="photo">Hi everyone! I am Kai-Pang and you can call me Kai,
            an international student from Taiwan.<br><br>
            I completed Computer Science at university in my country three years ago 
            and am now studying at Centennial College looking to take my skills to the next level.
        </p>
        <button type="button" class="about_btn">
            <a class="resume" target="_blank" href="./Assets/documents/kai_resume.pdf">Download My Resume</a>
        </button>
    </div>
</div>