<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div>
        <img src="./Assets/images/kai_photo.png" class="img-photo">
        <p class="content" text-align="left"></p>
    </div>

    <div>
        <p class="photo">Hi everyone! My am Kai-Pang and you can call me Kai,
            an international student from Taiwan.<br><br>
            I completed Computer Science at university in my country three years ago 
            and am studying at Centennial College looking to take my skills to the next level.
        </p>

    </div>
</div>