<div class=container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div>
        <img src="./Assets/images/kai_photo.png" class="img-photo">
        <p class="content" text-align="left"></p>
    </div>
</div>