<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    
    <div>
        <form enctype="text/plain" accept-charset="utf-8">
            <input id="name" type="text" name="Name" value-size="60" placeholder="Your Name" required>
            <input id="email" type="email" name="Email" value-size="60" placeholder="Email" required>
            <input id="phone" type="tel" name="Phone" value-size="60" placeholder="Phone" required>
            <input id="subject" type="text" name="Subject" value-size="60" placeholder="Subject" required>
            <textarea id="content" type="text" name="Content" cols="40" rows="20" aria-required="true"
                aria-invalid="false" placeholder="Content" required></textarea>
        </form>

        <div>
            <input type="button" value="Sent" id="emailbtn">
            <a id="mailTo"></a>
        </div>
        
    </div>
</div>