<div class="title">
    <h1>Welcome To My Personal Portfolio Site</h1>
    <hr />
</div>

<div>
    <p class="content">A website for a person who loves and enjoy technology, and he is moving towards higher goals.
    </p>
</div>

<div class="title">
    <h2>Mission Statement</h2>
</div>

<div>
    <p class="content">Stay enthusiastic to learn all kinds of knowledge, and try to do everything best. </p>
</div>