<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div class="project">
        <img src="./Assets/images/gps_upper.png" class="img-project">
        <img src="./Assets/images/gps_bottom.png" class="img-project">
        <img src="./Assets/images/gps_circuit.png" class="img-project">
    </div>

    
</div>