<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div class="project">
        <h3>GPS and WiFi tracker </h3>
        <img src="./Assets/images/gps_upper.png" class="img-project">
        <img src="./Assets/images/gps_bottom.png" class="img-project">
        <img src="./Assets/images/gps_circuit.png" class="img-project">
        <p class="intro">This is the project of my team at the university.
            We purchased and used various components to build a GPS and WiFi tracking system.
            We used XAMPP to build a database and Android Studio to make an application,
            the code of each component has reference to the open source, but other else is done by the ourselves.
        </p>
    </div>
    
</div>