<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div>
        <p class="title" text-align="left">I will learn and specialize in more computer languages.</p>
    </div>

    <div>
        <p class="photo">Hi everyone! My am Kai-Pang and you can call me Kai,
            an international student from Taiwan.<br><br>
            I completed Computer Science at university in my country three years ago 
            and am now studying at Centennial College looking to take my skills to the next level.
        </p>
        <button type="button" class="about_btn">
            <a class="resume" target="_blank" href="./Assets/documents/kai_resume.pdf">Download My Resume</a>
        </button>
    </div>
</div>