<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div>
        <p class="intro" text-align="left">I will learn and specialize in more computer languages,
            the following are currently in learn.</p>
    </div>

    <div>
        </p>
        <button type="button" class="about_btn">
            <a class="resume" target="_blank" href="./Assets/documents/kai_resume.pdf">Download My Resume</a>
        </button>
    </div>
</div>