<!--
    File Name: project.ejs
    Student's Name: Kai-Pang Hung
    Student ID: 301207607
    Date: June-05-2022
-->
<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div class="project">
        <h3 style="text-align: center;">GPS and WiFi tracker </h3>
        <img src="./Assets/images/gps_upper.png" class="img-project">
        <img src="./Assets/images/gps_bottom.png" class="img-project">
        <img src="./Assets/images/gps_circuit.png" class="img-project">
    </div>
    <div class="project_text ">
        <p class="project">This is the project of my team at the university. 
            We purchased and used various components to build a GPS and WiFi tracking system.
            We used XAMPP to build a database and Android Studio to make an application,
            the code of each component has reference to the open source, but other else is done by the ourselves.
        </p>
    </div>

    <hr class="hr2">
    <div class="project">
        <h3 style="text-align: center;">Weather API </h3>
        <img src="./Assets/images/weather_city.png" class="img-project">
        <img src="./Assets/images/weather_geo.png" class="img-project">
        <img src="./Assets/images/weather_next7.png" class="img-project">
    </div>
    <div class="project_text ">
        <p class="project">Use OpenWeatherMap API to search the weather.
            THe functions are to search the weather by city name, automatically get the weather where the user is located,
            and input the latitude and longitude to search the weather for the next 7 days.
        </p>
    </div>

    <hr class="hr2">
    <div class="project">
        <h3 style="text-align: center;">Frequent Pattern Growth Algorithm </h3>
        <img src="./Assets/images/fp_1.png" class="img-project">
        <img src="./Assets/images/fp_2.png" class="img-project">
        <img src="./Assets/images/fp50.png" class="img-project">
    </div>
    <div class="project_text " style="margin-bottom: 50px;">
        <p class="project">An individual assignment at the university, 
            using Java to implement the FP growth algorithm.<br>
        </p>
    </div>
</div>