<!--
    File Name: services.ejs
    Student's Name: Kai-Pang Hung
    Student ID: 301207607
    Date: June-05-2022
-->
<div class="container">
    <div class="title">
        <h1><%= title %></h1>
        <hr />
    </div>
    <div>
        <p class="intro" text-align="left">I will learn and specialize in more computer languages,
            the following are currently in learn.</p>
    </div>

    <hr class="hr2">
    <div class="service">
        <img src="./Assets/images/csharp.png" class="img-service">
        <img src="./Assets/images/js.png" class="img-service">
        <img src="./Assets/images/nodejs.png" class="img-service">
        <img src="./Assets/images/sql.png" class="img-service">
    </div>
</div>